#container
{
	background: #fff;
}

#header
{ 
	width:767px;
	padding: 5px;
	margin: auto;	
	background: #80C8FE;

}

#header h1 {
    margin: 0px;
    text-align: center;
}

#navigation
{
	width:767px;
	height: 30px;
	padding: 5px;
	margin: auto;		
	background: #00477D;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #80C8FE; }

#content
{
	clear: left;
	padding: 10px;
}

#content h2
{
	color: #000;
	font-size: 120%;
	margin: 0 0 .1em;
	padding-left: 10px;
}

#footer
{
	background: #BFE3FE;
	text-align: right;
	width:767px;
	padding: 20px;
	margin: auto;	
	height: 1%;
}

.product {
	width:767px;
	height:240px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.product a.h2 {
	font-size:20px;
	color: #990000;
	padding:12px;
	width:720px;
}

.product .thumb_link {
	display: block;
	float:left;
	height:209px;
	margin:1px 9px 1px 9px;
	width:265px;
	text-align: center;
}
.product .thumb {
	margin:0 auto;
	border:2px solid #222;
}


.product .details h3 {
	font-size:14px;
	padding:5px;
	color:#202020;
}

.product .details a.video, .product .details a.homepage, .product .details a.comments { padding-left:20px; }
.product .details a.video { background:url('img/xicon_video.png') no-repeat 0 0; }
.product .details a.homepage { background:url('img/xicon_homepage.png') no-repeat 0 0; }


.product .details .download_links {
    position: absolute;
    bottom: 10px;
    left: 280px;
    width: 468px;
    border-bottom: 2px solid rgb(119, 119, 119);
    padding: 0px 0px 5px;
    margin: 0px 0px 5px 5px;
}

.paging {	
	width:767px;
	padding: 20px;
	margin: auto;	
	height: 1%;
}

