<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<title>{{title | html}}</title>
</head>
<body>
<div id="container">
	<div id="header">
		<h1>
			Free and Open Source Games for Windows
		</h1>
	</div>
	<div id="navigation">
		<ul>
		<li><a href="/">Home</a></li>
		</ul>
	</div>	
	<div id="content">
{{content | html}}
	</div>
	<div id="footer">
		© João Pinto, 2013
	</div>
</div>
<div style="text-align: center;">
<a title="Google Analytics Alternative" href="http://clicky.com/100592420"><img alt="Google Analytics Alternative" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
</div>
<script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100592420);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>
</body>
</html>