<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<title>{{self.title | html}}</title>
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/jquery.colorbox-min.js"></script>
{{self.get.head_extra | html}}
</head>
<body>
<div id="container">
	<div id="header">
		<h1>
			Free and Open Source Games for Windows
		</h1>
	</div>
	<div id="navigation">
		<ul>
		<li><a href="/">Home</a></li>		
		</li>
		</ul>
	</div>
		<div class="warning">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
We are currently running from a free <A HREF="https://www.pythonanywhere.com/">PythonAnywhere</A> account, we need funds in order to upgrade the account and use our own domain.	
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="CKX49JEHAYR72">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/pt_PT/i/scr/pixel.gif" width="1" height="1">
</form>
		</div>		
	<div id="content">
{{self.content | html}}	
	</div>		
	<div id="footer">
			© João Pinto, 2013
	</div>
</div>
<div style="text-align: center;">
<a title="Google Analytics Alternative" href="http://clicky.com/100592420"><img alt="Google Analytics Alternative" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
</div>
<script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100592420);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>
</body>
</html>