<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div id="container">
	<div id="header">
		<h1>
			Open Source Games for Windows
		</h1>
	</div>
	<div id="navigation">
		<ul>
		<li><a href="link">Title</a></li>
		</ul>
	</div>	
	<div id="content">
		{{for a in products_data}}
		<div class="product">
			<h2>{{a['display_name'] | html}} {{a['version'][0]['name'] | html}}</h2>		
			<A class="thumb_link" href="#"><img src="/thumbs/{{a['short_name']}}.png" alt="" class="thumb"/></A>
			<div class="details">
				{{a['long_desc'] | html}}	
				<br>
				<h3 class="download_links">
				{{for b in a['version'][0]['download']}}
					<A HREF="{{b['link']}}" >Download {{b['name']}}</A>
				{{endfor}}
				</h3>
			</div>
		</div>
		{{endfor}}
	</div>
	<div id="footer">
		Copyright, Site name, 20XX
	</div>
</div>
</body>
</html>